<!DOCTYPE HTML>

<html>
	<head>
		<title>Login</title>
	</head>
	<body>
        <div class="container">
		<h1>Login</h1>
        <!-- This is where our form will go. -->
		<form method="POST", action="{{ url_for('login') }}" novalidate>
			{{ form.csrf_token }}
			<p>
				{{ form.email.label }}<br>{{ form.email(size=20) }}
				{% for err in form.email.errors %}
				<span style="color:red;">{{ err }}</span>
				{% endfor %}
			</p>
			<p>
				{{ form.pswd.label }}<br>{{ form.pswd(size=20) }}
				{% for err in form.pswd.errors %}
				<span style="color:red;">{{ err }}</span>
				{% endfor %}
			</p>
			{{ form.sbmt }}
		</form>
        </div>
	</body>
</html>