img {
    width: 200px;
    height: 200px;
}
#rojo {
    color: red
}
#azul {
    color: blue
}
#anaranjado {
    color: orange;
}
#amarillo {
    color: yellow;
}
.color-title {
    font-weight: normal;
}